.pageForm{
  background-color: white;
  .logo{
    width: 50%;
    margin: 20px auto; 
    @extend .center-block;
  }
  .item-floating-label{
    background-color: white;
  }
  .icon.cover{
    color: $brand;
    padding-top: 15%;
  }
}
form{
  input[readonly]:not(.cloned-text-input){
    background-color: white;
  }
  label.item{
    /** Styling for the username field **/
    &.has-error{
      border-bottom: 2px solid red;
    }
  }
}
/** Styling for the error text and container **/
.form-errors {
  background-color: white;
}
.form-error {
  padding: 2px 0 2px 16px;
  color: red;
}