.center-block{
  display: block;
  margin: 0 auto;
  width: auto;
}
.text-center{
  text-align: center;
}
.bar-footer{
  a.button.button-clear{
    color: $brand;
  }
}
.bar-header{
  .button.button-clear{
    color: white;
  }
}
.icon.cover{
  @extend .center-block;
	text-align: center;
	font-size: 90px;
}
.done{
  .icon{
    color: $balanced;
  }
}