.center-block{
  display: block;
  margin: 0 auto;
  width: auto;
}
.text-center{
  text-align: center;
}
.bar-footer{
  a.button.button-clear{
    color: $brand;
  }
}
.bar-header{
  .button.button-clear{
    color: white;
  }
}
.icon.cover{
  @extend .center-block;
	text-align: center;
	font-size: 90px;
}
.done{
  .icon{
    color: $balanced;
  }
}
.status-sponzorship{
  &.reject{
    color: $dark;
  }
  &.accept{
    color: $positive;
  }
  &.pending{
    color: $dark;
    opacity: .7;
  }
}
.item.item-divider .badge{
  right: 15px;
}
.intro{
  .scroll{
    height: 100%;
    .slider{
      height: 100%;
    }
  }
  #logo{
    width: 90%;
  }
  .slider-pager-page.active{
    .icon{
      color: $brand;
    }
  }
}
.list.sponsorships{
  margin-bottom: 0px;
}
.item-button-right>.button.button-right{
  right: 70px;
}