.number-bar{
  .icon{
    font-size: 80px;
    color:  white;
  }
  h2{
    color: white;
    font-size: 40px;
  }
  p{
    color: white;
    font-size: 20px;
  }
  .number-bar-sponsors{
    background: #003D6A;
  }
  .number-bar-events{
    background: #00838D;
  }
  .number-bar-communtity{
    background: #02A390;
  }
}