.notification{
  position: relative;
  cursor: pointer;
  .item-text-wrap{
    position: relative;
    span.time{
      font-size: 14px;
      position: absolute;
      bottom: 5px;
      right: 10px;
      font-style: italic;
    }
  }
  .icon{
    color:  white;
  }
  h2{
    color: white;
    font-weight: bold;
    margin: 0px;
  }
  p{
    font-size: 14px;
  }
  .notification-sponsorship{
    background: #00838D;
  }
  .notification-event{
    background: #003D6A;
  }
  .notification-task{
    background: #02A390;
  }
}