<ion-tabs class="tabs-positive tabs-icon-top {{$root.hideTabs}}">
  <ion-tab ion-track-tap="tapTabTasksOrganizer" ion-track-data="goToTabTasksList" title="{{'TASKLIST.tasks_list_tab' | translate }}" badge="tabs.count_tasks" icon="ion-clipboard" href="#/organizer/tasks/list">
    <ion-nav-view name="tabTasksList"></ion-nav-view>
  </ion-tab>
  <ion-tab ion-track-tap="tapTabTasksOrganizer" ion-track-data="goToTabPastTasks" title="{{'TASKLIST.past_tasks_tab' | translate }}" badge="tabs.count_past_tasks" icon="ion-reply-all" href="#/organizer/tasks/past">
    <ion-nav-view name="tabPastTasks"></ion-nav-view>
  </ion-tab>
</ion-tabs>