<ion-view view-title="{{'SEARCH.search_title' | translate}}">
  <ion-content>
    <div class="has-header list">
      <div class="item item-input-inset">
        <label class="item-input-wrapper">
          <input type="search" ng-model="model.term" placeholder="{{'SEARCH.text_field' | translate}}">
        </label>
        <button class="button button-small button-positive" ng-click="search()">{{'SEARCH.search_button' | translate}}</button>
      </div>
      <div class="item" ng-repeat="result in results" ui-sref="weather({city: result.formatted_address, lat: result.geometry.location.lat, lng: result.geometry.location.lng})">{{result.formatted_address}}</div>
    </div>
  </ion-content>
</ion-view>
