<ion-view view-title="{{'SEARCH.search_title' | translate}}">
  <ion-content ng-init="init()">
    <div class="has-header list">
      <div class="item item-input-inset">
        <label class="item-input-wrapper">
          <input type="search" ng-model="search" placeholder="{{'SEARCH.text_field' | translate}}">
        </label>
      </div>
    </div>

    <div class="has-header list card" ng-repeat="event in events | filter:search">

      <div class="item item-avatar">
        <img ng-src="{{event.image}}">
        <h2>{{event.title}}</h2>
        <p>{{event.location}}</p>
      </div>

      <div class="item item-image padding">
        {{event.description}}
      </div>

      <a class="item item-icon-left assertive" href="#">
        <i class="icon ion-tshirt"></i>
        Sponsor it!!!
      </a>

    </div>

  </ion-content>
</ion-view>
