<button 
class="button button-block button-positive icon-left ion-checkmark-circled button-raised" 
ng-click="eventDetail.updateSponsorship(1)">
{{"EVENTDETAIL.accept_option" | translate}}
</button>
<button 
class="button button-block icon-left ion-close-circled button-raised" 
ng-click="eventDetail.updateSponsorship(2)">
{{"EVENTDETAIL.reject_option" | translate}}
</button>
<a 
href="#/organizer/sponsorship/{{ eventDetail.sponsorshipSelected.id }}" 
class="button button-block icon-left ion-eye button-raised" 
ng-click="eventDetail.closeOptionsSponsorship()">
{{"EVENTDETAIL.view_detail_option" | translate}}
</a>
<button 
class="button button-block icon-left ion-close button-raised" 
ng-click="eventDetail.closeOptionsSponsorship()">
{{"EVENTDETAIL.cancel_option" | translate}}
</button>