<button 
class="button button-block button-positive icon-left ion-checkmark-circled button-raised" 
ng-click="eventDetail.updateSponsorship(1)" ion-track-tap="tapEventDetailOrganizer" ion-track-data="tapAcceptedSponsor">
{{"EVENTDETAIL.accept_option" | translate}}
</button>
<button 
class="button button-block icon-left ion-close-circled button-raised" 
ng-click="eventDetail.updateSponsorship(2)" ion-track-tap="tapEventDetailOrganizer" ion-track-data="tapRejectSponsor">
{{"EVENTDETAIL.reject_option" | translate}}
</button>
<a 
href="#/organizer/sponsorship/{{ eventDetail.sponsorshipSelected.id }}" 
class="button button-block icon-left ion-eye button-raised" ion-track-tap="tapEventDetailOrganizer" ion-track-data="goToSponsorshipDetail">
{{"EVENTDETAIL.view_detail_option" | translate}}
</a>
<button 
class="button button-block icon-left ion-close button-raised" 
ng-click="eventDetail.closeOptionsSponsorship()" ion-track-tap="tapEventDetailOrganizer" ion-track-data="tapCloseOptionsSponsorship">
{{"EVENTDETAIL.cancel_option" | translate}}
</button>