<ion-view view-title='Add Tasks' hide-back-button="false">
  <ion-nav-bar class="bar-positive">
    <ion-nav-back-button>
    </ion-nav-back-button>

    <ion-nav-buttons side="left">
      <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content padding="true">
    <form name="addtasksForm" novalidate ng-submit="addtasksForm.$valid && addTask(task)">
      <div class="has-header list">
      <div class="card">
      <div class="item item-divider">
      Add Task
      </div>
        <div class="item item-text-wrap">

          <label class="item item-input item-select">
            <div class="input-label">
              Event
            </div>
            <select name="selType" ng-model="task.type">
              <option value="0">Event 1</option>
              <option selected value="1">Event 2</option>
              <option value="2">Event 3</option>
            </select>
          </label>

          <label class="item item-input item-select">
            <div class="input-label">
              Type of Sponzor
            </div>
            <select name="selType" ng-model="task.kind">
              <option value="0">Gold</option>
              <option selected value="1">Silver</option>
              <option value="2">Bronze</option>
            </select>
          </label>

          <label class="item item-input" ng-class="{ 'has-error' : addtasksForm.txttitle.$invalid && addtasksForm.$submitted }">
            <input name="txttitle" type="text" placeholder='Task Title' ng-model="task.title"
            ng-minlength="5"
            ng-maxlength="30"
            required>
          </label>
           <div class="form-errors" ng-messages="addtasksForm.txttitle.$error" ng-if="addtasksForm.$invalid && addtasksForm.$submitted">
             <div class="form-error" ng-message="required"><i class="icon ion-close-circled"></i> Required </div>
             <div class="form-error" ng-message="maxlength"><i class="icon ion-close-circled"></i>Max. length</div>
             <div class="form-error" ng-message="minlength"><i class="icon ion-close-circled"></i>Min. length</div>
           </div>


           <label class="item item-input" ng-class="{ 'has-error' : addtasksForm.txtdesc.$invalid && addtasksForm.$submitted }">
            <textarea name="txtdesc" placeholder='Task description' ng-model="task.description"
             ng-minlength="5"
             ng-maxlength="30"
             required>
           </textarea>
           </label>
            <div class="form-errors" ng-messages="addtasksForm.description_field.$error" ng-if="addtasksForm.$invalid && addtasksForm.$submitted">
              <div class="form-error" ng-message="required"><i class="icon ion-close-circled"></i>Required.</div>
              <div class="form-error" ng-message="maxlength"><i class="icon ion-close-circled"></i>Max. length.</div>
              <div class="form-error" ng-message="minlength"><i class="icon ion-close-circled"></i>Min. length.</div>
            </div>


            <button type="submit" class="button button-block button-calm">
              Submit
            </button>

        </div>
      </div>
    </div>
    </form>
  </ion-content>
</ion-view>
