<ion-view view-title="Dashboard">
      <ion-content class="padding">
        <div class="has-header list">
        <div class="card">
        <div class="item item-divider">
        Task Status
        </div>
        <div class="item item-text-wrap">
        <div class="row">
        <div class="col"><b>Task Title</b></div>
        <div class="col"><b>Task Description</b></div>
        <div class="col"><b>Actions</b></div>
        </div>
        <div class="row">
        <div class="col">Task 1</div>
        <div class="col">This is a Task</div>
        <div class="col">Add&nbsp;Remove</div>
        </div>
        </div>
        </div>
        <button class="button button-block button-positive">
          Add Task
        </button>
        </div>
    </ion-content>
</ion-view>
