<ion-view>
  <ion-nav-bar class="bar-light">
          <ion-nav-back-button>
          </ion-nav-back-button>
      </ion-nav-bar>
        <ion-nav-buttons side="left">
          <button class="button button-positive button-clear no-animation"
                  ng-click="startApp()" ng-show="!slideIndex">
            {{'INTROSPO.skip_nav_btn' | translate}}
          </button>
          <button class="button button-positive button-clear no-animation"
                  ng-click="previous()" ng-show="slideIndex > 0">
            {{'INTROSPO.prev_nav_btn' | translate}}
          </button>
        </ion-nav-buttons>
        <ion-nav-buttons side="right">
          <button class="button button-positive button-clear no-animation"
                  ng-click="next()" ng-show="slideIndex != 2">
            {{'INTROSPO.next_nav_btn' | translate}}
          </button>
          <button class="button button-positive button-clear no-animation"
                  ng-click="startApp()" ng-show="slideIndex == 2">
            {{'INTROSPO.start_nav_btn' | translate}}
          </button>
        </ion-nav-buttons>
        <ion-slide-box on-slide-changed="slideChanged(index)">
          <ion-slide>
            <h3>{{'INTROSPO.head_page1' | translate}}</h3>
            <div id="logo">
              <img src="img/logo.png">
            </div>
            <p align="justify" class="padding">
              {{'INTROSPO.content_page1' | translate}}
            </p>
          </ion-slide>
          <ion-slide>
            <h3 class="padding">{{'INTROSPO.head_page2' | translate}}</h3>
            <p align="justify" class="padding">
            {{'INTROSPO.content_page2' | translate}}
            </p>
          </ion-slide>
          <ion-slide>
            <h4>{{'INTROSPO.head_page3' | translate}}</h4>
            <p align="justify" class="padding" ng-bind-html="'INTROSPO.content_page3' | translate">
            </p>
          </ion-slide>
        </ion-slide-box>
</ion-view>
