<ion-view>
	<ion-nav-title>{{ eventDetail.event.title }}</ion-nav-title>
  <ion-content scroll="false">
     <tab-slide-box tab="0">
      <div class="tsb-icons">
        <div class="tsb-ic-wrp">
          <ion-scroll direction="x" class="tsb-hscroll">
            <a>Detail</a>
            <a>Perks</a>
            <a>Sponsors</a>
          </ion-scroll>
        </div>
      </div>
      <ion-slide-box show-pager="false" on-slide-changed="slideHasChanged($index)">
        <ion-slide>
          <ion-scroll style="height:90%" >
            <ion-list type="card">
            	<ion-item class="item-body">
						  	<strong>{{ eventDetail.event.title }}</strong>
						  </ion-item>
            	<ion-item class="item-divider">Start Day</ion-item>
              <ion-item class="item-icon-left">
                <i class="icon ion-clock"></i>
                 {{ eventDetail.event.starts | date: 'MMMM d, y - HH:mm:ss' }}
              </ion-item>
              <ion-item class="item-divider">End Day</ion-item>
              <ion-item class="item-icon-left">
                <i class="icon ion-clock"></i>
                {{ eventDetail.event.ends | date: 'MMMM d, y - HH:mm:ss' }}
              </ion-item>
						  <ion-item class="item-body">
						  	<img ng-src="{{ eventDetail.event.image }}" class="full-image">
						    {{ eventDetail.event.description }}
						  </ion-item>
						  <ion-item class="item-divider">
						    Organizer
						  </ion-item>
            	<ion-item class="item-avatar">
						    <img ng-src="{{ eventDetail.event.organizer.image }}">
						    <h2>{{ eventDetail.event.organizer.name }}</h2>
						    <p>{{ eventDetail.event.organizer.company }}</p>
						  </ion-item>
						  <ion-item class="item-divider">Category</ion-item>
						  <ion-item class="item-icon-left">
						  	<i class="icon ion-pin"></i>
						     {{ eventDetail.event.category.title }}
						  </ion-item>
						  <ion-item class="item-divider">Event Type</ion-item>
						  <ion-item class="item-icon-left">
                <i class="icon ion-quote"></i>
                 {{ eventDetail.event.type.name }}
              </ion-item>
            </ion-list>	
          </ion-scroll>
        </ion-slide>
        <ion-slide>
          <ion-scroll style="height:90%">
            <div class="row text-center" ng-show="eventDetail.event.perks.length == 0">
              <div class="col">
                <div class="empty-states">
                  <i class="icon ion-android-checkmark-circle"></i>
                  <h1>No hay perks.</h1>
                </div>
              </div>
            </div>
            <ion-list type="card" ng-repeat="perk in eventDetail.event.perks">
              <ion-item class="item-divider">
                {{ perk.kind }} - {{ perk.usd }}
              </ion-item>
              <ion-item ng-show="perk.tasks.length == 0">
                {{'EVENTDETAIL.list_perk_task_empty' | translate}}
              </ion-item>
              <ion-item class="item-icon-left" ng-repeat="task in perk.tasks">
                <i class="icon ion-checkmark"></i>
                {{ task.title }}
              </ion-item>
              <ion-item >
                <button type="button" class="button button-block button-positive" ng-click="eventDetail.createSponsorIt(perk)">
                Sponsor it!!
              </button>
              </ion-item>
            </ion-list>
          </ion-scroll>
        </ion-slide>
        <ion-slide>
          <ion-scroll style="height:90%">
            <div class="row text-center" ng-show="eventDetail.event.sponzorship == 0">
              <div class="col">
                <div class="empty-states">
                  <i class="icon ion-flag"></i>
                  <h1>No hay sponsors.</h1>
                </div>
              </div>
            </div>
            <ion-list type="card" ng-show="eventDetail.event.sponzorship > 0">
              <ion-item class="item-divider">Sponzorship</ion-item>
              <ion-item class="item-icon-left" ng-repeat="sponzor in eventDetail.event.sponzorship">
                <i class="icon ion-flag"></i>
                 {{ sponzor.title }}
              </ion-item>
            </ion-list>
          </ion-scroll>
        </ion-slide>
      </ion-slide>
    </tab-slide-box>
  </ion-content>
</ion-view>