<ion-view>
  <ion-nav-title>Add Task</ion-nav-title>
  <ion-content>
    <form name="addTaskForm" novalidate ng-submit="addTaskForm.$valid && addTask.createTask()">
      <ion-list type="card">  
        <ion-item class="item-divider">
          Add Task
        </ion-item>
        <!-- Title  -->
        <label class="item item-input" ng-class="{ 'has-error' : addTaskForm.title.$invalid && addTaskForm.$submitted }">
          <input 
          name="title" 
          type="text" 
          placeholder='Task' 
          ng-model="addTask.newTask.title"
          ng-minlength="5"
          ng-maxlength="30"
          required>
        </label>
        <div class="form-errors" ng-messages="addTaskForm.title.$error" ng-if="addTaskForm.$invalid && addTaskForm.$submitted">
          <div class="form-error" ng-message="required"><i class="icon ion-close-circled"></i> Es requerido</div>
          <div class="form-error" ng-message="maxlength"><i class="icon ion-close-circled"></i> Muy pequeño</div>
          <div class="form-error" ng-message="minlength"><i class="icon ion-close-circled"></i> Muy largo</div>
        </div>
        <!-- Description  -->
        <label class="item item-input" ng-class="{ 'has-error' : addTaskForm.txttitle.$invalid && addTaskForm.$submitted }">
          <textarea 
          name="description" 
          placeholder="Description"
          ng-model="addTask.newTask.description" 
          required
          ></textarea>
        </label>
        <!-- Event -->
        <label class="item item-input item-select">
          <div class="input-label">Event</div>
          <select 
          name="event" 
          ng-model="addTask.newTask.event" 
          ng-options="event.title for event in addTask.events">
          </select>
        </label>
        <!-- Perk -->
        <label class="item item-input item-select">
          <div class="input-label">Perk</div>
          <select 
          name="perk" 
          ng-model="addTask.newTask.perk" 
          ng-options="perk.kind for perk in addTask.perks | filter:{id_event: addTask.newTask.event.id}">
          </select>
        </label>
      </ion-list>
      <div class="padding">
        <button type="submit" class="button button-block button-calm">
          Save  
        </button>
      </div>
    </form>
  </ion-content>
</ion-view>