<ion-view>
  <ion-nav-title>{{'TASKLIST.title' | translate}}</ion-nav-title>
  <ion-content>
    <ion-refresher pulling-text="{{'TASKLIST.pull_refresh' | translate}}" on-refresh="taskList.doRefresh()">
    </ion-refresher>
    <div class="row text-center" ng-show="taskList.events.length == 0 && taskList.showEmptyState">
      <div class="col">
        <div class="empty-states">
          <i class="icon ion-clipboard"></i>
          <h1>{{'TASKLIST.list_empty' | translate}}</h1>
        </div>
      </div>
    </div>
    <ion-list type="card" ng-repeat="(indexEvent, event) in taskList.events | orderBy:'starts' ">
      <ion-item class="item-divider">
        {{ event.title }}
      </ion-item>
      <div ng-repeat="(indexPerk, perk) in event.perks">
        <ion-item class="item-button-right">
          {{ perk.kind }}
          <!--<a class="button button-positive" ng-click="taskList.newTask( perk, indexEvent, indexPerk )">
            <i class="icon ion-plus-round"></i>
          </a>-->
        </ion-item>
        <ion-item ng-click="taskList.editTask( task, indexEvent, indexPerk, indexTask )" ng-repeat="(indexTask, task) in perk.tasks" class="item-icon-left" ng-class="{done: task.status == 1}">
          <i class="icon ion-checkmark"></i>
          <h2>{{ task.title }}</h2>
          <p>{{ task.description }}</p>
        </ion-item>
      </div>
    </ion-list>
  </ion-content>
</ion-view>
