<ion-view view-title="Task List">
  <ion-nav-buttons side="right">
    <a class="button button-icon button-clear ion-plus-round" ng-href="#/organizer/addTask">
    </a>
  </ion-nav-buttons>
  <ion-content>
    <div class="row text-center" ng-show="taskList.tasks.length == 0 && taskList.showEmptyState">
      <div class="col">
        <div class="empty-states">
          <i class="icon ion-clipboard"></i>
          <h1>No hay sponsors.</h1>
        </div>
      </div>
    </div>
    <ion-list type="card" ng-repeat="event in taskList.tasks">
      <ion-item class="item-divider">{{ event.title }}</ion-item> 
      <ion-item href="#/organizer/editTask/{{ task.id }}" ng-repeat="task in event.tasks" class="item-icon-left" ng-class="{done: task.status == 1}">
        <i class="icon ion-checkmark"></i>
        <h2>{{ task.title }}</h2>
        <p>{{ task.description }}</p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
