<ion-view hide-nav-bar="true" class="pageForm">
  <ion-content>
    <form name="forgotForm" novalidate ng-submit="forgotForm.$valid && forgot.resetPassword( forgotForm )">
      <div class="list">
        <div class="padding">
          <i class="icon ion-arrow-swap cover"></i>
        </div>
       <label class="item item-input item-floating-label" ng-class="{ 'has-error' : forgotForm.txtemail.$invalid && forgotForm.$submitted }">
         <span class="input-label">{{"FORGOTFORM.email_field" | translate}}</span>
         <input 
         name="txtemail" 
         type="email" 
         placeholder='{{"FORGOTFORM.email_field" | translate}}' 
         ng-model="forgot.user.email"
         ng-minlength="5"
         ng-maxlength="45"
         required>
       </label>
        <div class="form-errors" ng-messages="forgotForm.txtemail.$error" ng-if="forgotForm.$invalid && forgotForm.$submitted">
          <div class="form-error" ng-message="required"><i class="icon ion-close-circled"></i> {{"ERRORS.forgotform_ema_required" | translate}}</div>
          <div class="form-error" ng-message="email"><i class="icon ion-close-circled"></i> {{"ERRORS.forgotform_ema_email" | translate}}</div>
          <div class="form-error" ng-message="maxlength"><i class="icon ion-close-circled"></i> {{"ERRORS.forgotform_ema_maxlength" | translate}}</div>
          <div class="form-error" ng-message="minlength"><i class="icon ion-close-circled"></i> {{"ERRORS.forgotform_ema_minlength" | translate}}</div>
        </div>
      </div>
      <div class="padding">
        <button type="submit" class="button button-block button-positive">
          {{"FORGOTFORM.button_message" | translate}}
        </button>
      </div>
    </form>
  </ion-content>

  <ion-footer-bar class="bar">
    <a class="button button-clear button-positive" href="#/sign-in">{{"LOGIN.signin_message" | translate}}</a> 
    <a class="button button-clear button-positive" href="#/joinnow">{{"LOGIN.join_message" | translate}}</a>
  </ion-footer-bar>
</ion-view>
