<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>SponzorMe</title>

    <!-- ionic css -->
    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link rel="stylesheet" href="css/app.css">

    <!-- angularjs scripts -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script -->
    <script src="cordova.js"></script>

    <script src="js/app.js"></script>
    <script src="lib/collide/collide.js"></script>
    <script src="lib/ionic-contrib-tinder-cards/ionic.tdcards.js"></script>
  </head>

  <!-- 
    'starter' is the name of this angular module (js/app.js)
  -->
  <body ng-app="starter" no-scroll>
    <ion-nav-view></ion-nav-view>
    <script id="templates/event-menu.html" type="text/ng-template">
      <ion-side-menus enable-menu-with-back-views="false">

        <ion-side-menu-content>
          <ion-nav-bar class="bar-positive">
            <ion-nav-back-button>
            </ion-nav-back-button>

            <ion-nav-buttons side="left">
              <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
              </button>
            </ion-nav-buttons>
          </ion-nav-bar>

          <ion-nav-view name="menuContent"></ion-nav-view>
        </ion-side-menu-content> 

        <ion-side-menu side="left">
          <ion-header-bar class="bar-assertive">
            <h1 class="title">Navigation</h1>
          </ion-header-bar>
          <ion-content>
            <ul class="list">
              <!-- Note each link has the 'menu-close' attribute so the menu auto closes when clicking on one of these links -->
              <a href="#/event/check-in" class="item" menu-close>Dashboard</a>
              <a href="#/event/attendees" class="item" menu-close>Following</a>
              <a href="#/event/attendees" class="item" menu-close>Sponzoring</a>
              <a href="#/event/attendees" class="item" menu-close>Settings</a>
              <a href="#/sign-in" class="item" menu-close>Logout</a>
            </ul>
          </ion-content>
        </ion-side-menu>

      </ion-side-menus>
    </script>

    <script id="templates/sign-in.html" type="text/ng-template">
      <ion-view view-title="Home" hide-nav-bar="true" left-buttons="leftButtons" right-buttons="rightButtons" hide-back-button="true" class="signup-background">
        <ion-content >
          <div class="list" style="padding-top:80%;">
            <label class="item item-input">
              <span class="input-label">Email</span>
              <input type="email">
            </label>
            <label class="item item-input">
              <span class="input-label">Password</span>
              <input type="password" ng-model="user.password">
            </label>
          </div>
          <div class="">
            <button class="button button-block button-positive" ng-click="signIn(user)">
              Sign in
            </button>
            <p class="text-center" style="color:white;">
              <a style="color:white;" href="#/forgot-password">Forgot password</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a style="color:white;" href="#/joinnow">Join now</a>
            </p>
          </div>
        </ion-content>
      </ion-view>
    </script>

    <script id="templates/joinnow.html" type="text/ng-template">
      <ion-view view-title="Home" hide-nav-bar="true" left-buttons="leftButtons" right-buttons="rightButtons" hide-back-button="true" class="signup-background2">
        <ion-content >
          <div class="list" style="padding-top:80%;">
            <label class="item item-input">
              <input placeholder="Email" type="email">
            </label>
            <label class="item item-input">
              <input type="password" placeholder="Password" ng-model="user.password">
            </label>
            <label class="item item-input">
              <input type="password" placeholder="Confirm Password" ng-model="user.password">
            </label>
          </div>
          <div class="">
            <button class="button button-block button-positive" ng-click="signIn(user)">
              Join now
            </button>
            <p class="text-center" style="color:white;">
              <a style="color:white;" href="#/sign-in">Sign in</a>
            </p>
          </div>
        </ion-content>
      </ion-view>
    </script>

    <script id="templates/forgot-password.html" type="text/ng-template">
      <ion-view view-title="Forgot Password">
        <ion-content padding="true">
          <p>
            Return to <a href="#/sign-in">Sign-In</a>.
          </p>
        </ion-content>
      </ion-view>
    </script>


    <script id="templates/home.html" type="text/ng-template">
    <ion-view view-title="Dashboard" ng-controller="CardsCtrl">
      <ion-content class="padding">
      <td-cards>
        <td-card ng-repeat="card in cards" on-destroy="cardDestroyed($index)" on-swipe-left="cardSwipedLeft($index)" on-swipe-right="cardSwipedRight($index)" on-partial-swipe="cardPartialSwipe(amt)" class="card-{{card.index}}" ng-controller="CardCtrl">
          <div class="image">
            <div class="yes-text" ng-style="leftTextOpacity">LIKE</div>
            <img ng-src="{{card.image}}">
            <div class="no-text" ng-style="rightTextOpacity">NOPE</div>
          </div>
        </td-card>
      </td-cards>
    </ion-content>
      </ion-view>
    </script>
  </body>
</html>
