<ion-view>
  <ion-nav-title>{{'EVENTLIST.title' | translate}}</ion-nav-title>
  <ion-nav-buttons side="right">
    <button class="button button-icon button-clear ion-plus-round button-raised" ng-click="eventList.goAddEvent()"></button>
    <!--<a class="button button-icon button-clear ion-plus-round button-raised" ng-href="#/organizer/addevent">
    </a>-->
  </ion-nav-buttons>
  <ion-content>
    <ion-refresher pulling-text="Pull to refresh" on-refresh="eventList.doRefresh()">
    </ion-refresher>
    <div class="row text-center" ng-show="eventList.events.length == 0 && eventList.showEmptyState">
      <div class="col">
        <div class="empty-states">
          <i class="icon ion-calendar"></i>
          <h1>{{'EVENTLIST.list_empty' | translate}}</h1>
          <button class="button button-positive icon-left ion-plus-round button-raised" ng-click="eventList.goAddEvent()">{{'EVENTLIST.button_create' | translate}}</button>
        </div>
      </div>
    </div>
    <ion-list ng-show="eventList.events.length > 0">
      <ion-item item-height="150px" item-width="100%" ng-href="#/organizer/events/event/{{ event.id }}" class="event" collection-repeat="event in eventList.events | orderBy:'starts'" ng-style="{'background-image': 'url(' + event.image + ')'}">
        <p>{{event.title}} </br> 
        {{event.starts | date: 'MMMM d, y'}} - {{event.ends | date: 'MMMM d, y'}}</p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
