<ion-view view-title='{{"ADDEVENTS.forgot_title" | translate}}' hide-back-button="true">
  <ion-content padding="true" class="positive-bg">
    <div class="card">
    <div class="item item-divider">
    Add new Event
    </div>
    <div class="item item-text-wrap">
    <form name="addeventsForm" novalidate ng-submit="addeventsForm.$valid && addEvent(event)">
   <div style="has-header list">
     <label class="item item-input item-floating-label inputwhite" ng-class="{ 'has-error' : addeventsForm.txttitle.$invalid && addeventsForm.$submitted }">
       <span class="input-label">{{"ADDEVENTS.title_field" | translate}}</span>
       <input name="txttitle" type="text" placeholder='{{"ADDEVENTS.title_field" | translate}}' ng-model="event.title"
       ng-minlength="5"
       ng-maxlength="30"
       required>
     </label>
      <div class="form-errors" ng-messages="addeventsForm.txttitle.$error" ng-if="addeventsForm.$invalid && addeventsForm.$submitted">
        <div class="form-error" ng-message="required"><i class="icon ion-close-circled"></i> {{"ERRORS.addeventsform_tit_required" | translate}}</div>
        <div class="form-error" ng-message="maxlength"><i class="icon ion-close-circled"></i> {{"ERRORS.addeventsform_tit_maxlength" | translate}}</div>
        <div class="form-error" ng-message="minlength"><i class="icon ion-close-circled"></i> {{"ERRORS.addeventsform_tit_minlength" | translate}}</div>
      </div>

      <label class="item item-input item-floating-label inputwhite" ng-class="{ 'has-error' : addeventsForm.txtloc.$invalid && addeventsForm.$submitted }">
        <span class="input-label">{{"ADDEVENTS.location_field" | translate}}</span>
        <input name="txtloc" type="text" placeholder='{{"ADDEVENTS.location_field" | translate}}' ng-model="event.location"
        ng-minlength="5"
        ng-maxlength="30"
        required>
      </label>
       <div class="form-errors" ng-messages="addeventsForm.txtloc.$error" ng-if="addeventsForm.$invalid && addeventsForm.$submitted">
         <div class="form-error" ng-message="required"><i class="icon ion-close-circled"></i> {{"ERRORS.addeventsform_loc_required" | translate}}</div>
         <div class="form-error" ng-message="maxlength"><i class="icon ion-close-circled"></i> {{"ERRORS.addeventsform_loc_maxlength" | translate}}</div>
         <div class="form-error" ng-message="minlength"><i class="icon ion-close-circled"></i> {{"ERRORS.addeventsform_loc_minlength" | translate}}</div>
       </div>

       <label class="item item-input item-floating-label inputwhite" ng-class="{ 'has-error' : addeventsForm.txtdesc.$invalid && addeventsForm.$submitted }">
         <span class="input-label">{{"ADDEVENTS.description_field" | translate}}</span>
         <textarea name="txtdesc" placeholder='{{"ADDEVENTS.description_field" | translate}}' ng-model="event.description"
         ng-minlength="5"
         ng-maxlength="30"
         required>
       </label>
        <div class="form-errors" ng-messages="addeventsForm.description_field.$error" ng-if="addeventsForm.$invalid && addeventsForm.$submitted">
          <div class="form-error" ng-message="required"><i class="icon ion-close-circled"></i> {{"ERRORS.addeventsform_desc_required" | translate}}</div>
          <div class="form-error" ng-message="maxlength"><i class="icon ion-close-circled"></i> {{"ERRORS.addeventsform_desc_maxlength" | translate}}</div>
          <div class="form-error" ng-message="minlength"><i class="icon ion-close-circled"></i> {{"ERRORS.addeventsform_desc_minlength" | translate}}</div>
        </div>


      <div class="">
        <button type="submit" class="button button-block button-calm">
          {{"ADDEVENTS.button_message" | translate}}
        </button>
      </div>
    </div>
  </form>
  </div>
  </div>
  </ion-content>
</ion-view>
