<ion-view view-title="Events" hide-back-button="true">
  <ion-nav-bar class="bar-positive">
    <ion-nav-buttons side="left">
      <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
      </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
      <button class="button button-icon button-clear ion-plus-round" ng-click="newEvent()">
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content ng-init="init()">
    <ion-list>
      <ion-item href="#" class="event" collection-repeat="event in events" ng-style="{'background-image': url({{ event.image }})}">
        <p>{{event.title}} </br> {{event.starts}}</p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
