<ion-view view-title="Dashboard">
      <ion-content class="padding">
      <div class="has-header list">
        <div class="card">
        <div class="item item-divider">
        Events
        </div>
        <div class="item item-text-wrap">
        <div class="row">
        <div class="col">Name</div>
        <div class="col">Email</div>
        <div class="col">State</div>
        <div class="col">Option</div>
        </div>
        <div class="row">
        <div class="col">Juan Topo</div>
        <div class="col">juantopo@dispostable.com</div>
        <div class="col">Approved</div>
        <div class="col">Option</div>
        </div>
        </div>

        </div>
        <div class="card">
        <div class="item item-divider">
        Perks
        </div>
        <div class="item item-text-wrap">
        <div class="row">
        <div class="col">Name</div>
        <div class="col">Email</div>
        <div class="col">State</div>
        <div class="col">Option</div>
        </div>
        <div class="row">
        <div class="col">Juan Topo</div>
        <div class="col">juantopo@dispostable.com</div>
        <div class="col">Approved</div>
        <div class="col">Option</div>
        </div>
        </div>

        </div>
        <button class="button button-block button-positive" ng-click="newEvent()">
          Add Event
        </button>
      </div>
    </ion-content>
</ion-view>
