<ion-view view-title="{{'DASHSPONZORS.dash_menu2' | translate}}">
      <ion-content class="padding">
        <div class="card">
  <div class="item item-divider">
    Your Followed Events
  </div>
  <div class="item item-text-wrap">
    <div class="row">
      <div class="col">Name</div>
      <div class="col">Email</div>
      <div class="col">State</div>
      <div class="col">Option</div>
    </div>
    <div class="row">
      <div class="col">Juan Topo</div>
      <div class="col">juantopo@dispostable.com</div>
      <div class="col">Approved</div>
      <div class="col">Option</div>
    </div>
  </div>

</div>
    </ion-content>
</ion-view>
