<ion-modal-view>
  <ion-header-bar class="bar-positive" align-title="center">
    <h1 class="title">{{'ADDTASK.title' | translate}}</h1>
    <div class="buttons" ng-show="!addEvent.isNewSponsor">
      <button class="button button-icon icon ion-close-circled button-raised" ng-click="taskList.hideModalTask()"></button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form name="TaskForm" novalidate ng-submit="TaskForm.$valid && taskList.submitTask( TaskForm )">
      <ion-list type="card">  
        <ion-item class="item-divider">
          {{'ADDTASK.title' | translate}}
        </ion-item>
        <!-- Title  -->
        <label class="item item-input item-floating-label" ng-class="{ 'has-error' : TaskForm.title.$invalid && TaskForm.$submitted }">
          <span class="input-label">{{'ADDTASK.task_title_label' | translate}}</span>
          <input 
          name="title" 
          type="text" 
          placeholder='{{"ADDTASK.task_title_placeholder" | translate}}' 
          ng-model="taskList.task.title"
          ng-minlength="5"
          ng-maxlength="90"
          required>
        </label>
        <div class="form-errors" ng-messages="TaskForm.title.$error" ng-if="TaskForm.$invalid && TaskForm.$submitted">
          <div class="form-error" ng-message="required"><i class="icon ion-close-circled"></i> {{"ERRORS.addtask_error_title_required" | translate}}</div>
          <div class="form-error" ng-message="minlength"><i class="icon ion-close-circled"></i> {{"ERRORS.addtask_error_title_min" | translate}}</div>
          <div class="form-error" ng-message="maxlength"><i class="icon ion-close-circled"></i> {{"ERRORS.addtask_error_title_max" | translate}}</div>
        </div>
        <!-- Description  -->
        <label class="item item-input item-floating-label" ng-class="{ 'has-error' : TaskForm.description.$invalid && TaskForm.$submitted }">
          <span class="input-label">{{'ADDTASK.task_description_placeholder' | translate}}</span>
          <textarea 
          name="description" 
          placeholder="{{'ADDTASK.task_description_placeholder' | translate}}" 
          ng-model="taskList.task.description" 
          required
          ></textarea>
        </label>
        <div class="form-errors" ng-messages="TaskForm.description.$error" ng-if="TaskForm.$invalid && TaskForm.$submitted">
          <div class="form-error" ng-message="required"><i class="icon ion-close-circled"></i> {{"ERRORS.addtask_error_description_required" | translate}}</div>
          <div class="form-error" ng-message="minlength"><i class="icon ion-close-circled"></i> {{"ERRORS.addtask_error_description_min" | translate}}</div>
        </div>
        <ion-toggle ng-show="!taskList.isNewTask" ng-model="taskList.task.status" toggle-class="toggle-positive">{{'ADDTASK.task_done_label' | translate}}</ion-toggle>
      </ion-list>
      <div class="row">
        <div class="col col-50" ng-show="!taskList.isNewTask">
          <button class="button button-block" type="button" ng-click="taskList.deleteTask( TaskForm )">{{'ADDTASK.delete_button' | translate}}</button>
        </div>
        <div class="col col-50" ng-show="taskList.isNewTask">
          <button class="button button-block" type="button" ng-click="taskList.hideModalTask( TaskForm )">{{'ADDTASK.cancel_button' | translate}}</button>
        </div>
        <div class="col col-50">
          <button type="submit" class="button button-block button-positive button-raised">{{'ADDTASK.save_button' | translate}}</button>
        </div>
      </div>
    </form>
  </ion-content>
</ion-modal-view>