<div class="card notification" ng-click="read()">
  <div class="item item-icon-left" ng-class="{'notification-sponsorship':model.type == 'sponsorship', 'notification-task':model.type == 'task', 'notification-event':model.type == 'event'}" >
    <i class="icon" ng-class="{'ion-flag':model.type == 'sponsorship', 'ion-checkmark':model.type == 'task', 'ion-calendar':model.type == 'event'}"></i>
    <h2>{{ model.title }}</h2>
  </div>
  <div class="item item-text-wrap">
    <p ng-bind-html="model.message"></p>
    <span class="time" am-time-ago="model.date"></span>
  </div>
</div>