<ion-view hide-back-button="true">
	<ion-nav-title>{{ eventDetail.event.title }}</ion-nav-title>
  <ion-nav-buttons side="left">
    <button class="button back-button buttons  button-clear header-item" ng-click="eventDetail.goBack()">
      <i class="icon ion-ios-arrow-back"></i>
    </button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="button button-icon button-clear ion-android-more-vertical"
    ng-click="eventDetail.showActionSheet()"></button>
  </ion-nav-buttons>
  <ion-content scroll="false">
     <tab-slide-box tab="0">
      <div class="tsb-icons">
        <div class="tsb-ic-wrp">
          <ion-scroll direction="x" class="tsb-hscroll">
            <a>Detail</a>
            <a>Sponzorship</a>
            <a>Tasks</a>
          </ion-scroll>
        </div>
      </div>
      <ion-slide-box show-pager="false" on-slide-changed="slideHasChanged($index)">
        <ion-slide>
          <ion-scroll style="height:90%" >
            <ion-list type="card">
            	<ion-item class="item-body">
						  	<strong>{{ eventDetail.event.title }}</strong>
						  </ion-item>
            	<ion-item class="item-divider">Start Day</ion-item>
						  <ion-item class="item-icon-left">
						  	<i class="icon ion-clock"></i>
						     {{ eventDetail.event.starts | date: 'short' }}
						  </ion-item>
						  <ion-item class="item-divider">End Day</ion-item>
						  <ion-item class="item-icon-left">
						  	<i class="icon ion-clock"></i>
						    {{ eventDetail.event.ends | date: 'short' }}
						  </ion-item>
						  <ion-item class="item-body">
						  	<img ng-src="{{ eventDetail.event.image }}" class="full-image">
						    {{ eventDetail.event.description }}
						  </ion-item>
						  <ion-item class="item-divider">
						    Organizer
						  </ion-item>
            	<ion-item class="item-avatar">
						    <img ng-src="{{ eventDetail.event.organizer.image }}">
						    <h2>{{ eventDetail.event.organizer.name }}</h2>
						    <p>{{ eventDetail.event.organizer.company }}</p>
						  </ion-item>
						  <ion-item class="item-divider">Category</ion-item>
						  <ion-item class="item-icon-left">
						  	<i class="icon ion-pin"></i>
						     {{ eventDetail.event.category.title }}
						  </ion-item>
						  <ion-item class="item-divider">Event Type</ion-item>
						  <ion-item class="item-icon-left">
                <i class="icon ion-quote"></i>
                 {{ eventDetail.event.type.name }}
              </ion-item>
            </ion-list>
          </ion-scroll>
        </ion-slide>
        
        <ion-slide>
          <ion-scroll style="height:90%">
            <div class="row text-center" ng-show="eventDetail.perks == 0">
              <div class="col">
                <div class="empty-states">
                  <i class="icon ion-flag"></i>
                  <h1>Nothing new yet.</h1>
                </div>
              </div>
            </div>
            <ion-list type="card" ng-show="eventDetail.perks.length > 0" ng-repeat="perk in eventDetail.perks">
              <ion-item class="item-divider">
                {{ perk.kind }} - ${{ perk.usd }}
                <span class="badge badge-positive">{{ perk.sponsorships.length }}</span>
              </ion-item>
              <ion-item ng-show="perk.sponsorships.length == 0">
                Nothing new yet.
              </ion-item>
              <ion-item ng-click="eventDetail.openOptionsSponsorship( sponzorship )" class="item-icon-left item-icon-right" ng-repeat="sponzorship in perk.sponsorships">
                <i class="icon ion-flag"></i>
                <h2> {{ sponzorship.cause }} </h2>
                <p> {{ sponzorship.name }} </p>
                <i class="icon ion-checkmark-circled status-sponzorship accept" ng-if="sponzorship.status == 1"></i>
                <i class="icon ion-close-circled status-sponzorship reject" ng-if="sponzorship.status == 2"></i>
                <i class="icon ion-alert status-sponzorship pending" ng-if="sponzorship.status == 0"></i>
              </ion-item>
            </ion-list>
          </ion-scroll>
        </ion-slide>
        <ion-slide>
          <ion-scroll style="height:90%">
            <div class="row text-center" ng-show="eventDetail.perks == 0">
              <div class="col">
                <div class="empty-states">
                  <i class="icon ion-flag"></i>
                  <h1>Nothing new yet.</h1>
                </div>
              </div>
            </div>
            <ion-list type="card" ng-show="eventDetail.perks.length > 0" ng-repeat="perk in eventDetail.perks">
              <ion-item class="item-divider">
                Perks: {{ perk.kind }} - ${{ perk.usd }}
                <span class="badge badge-positive">{{ perk.tasks.length }}</span>
              </ion-item>
              <ion-item ng-show="perk.tasks.length == 0">
                Nothing new yet.
              </ion-item>
              <ion-item href="#/organizer/editTask/{{ task.id }}" class="item-icon-left" ng-repeat="task in perk.tasks" ng-class="{done: task.status == 1}">
                <i class="icon ion-checkmark"></i>
                <i class="icon ion-checkmark"></i>
                <h2> {{ task.title }} </h2>
                <p> {{ task.description }} </p>
              </ion-item>
            </ion-list>
            <div class="padding">
              <a ng-href="#/organizer/addTask" class="button button-positive button-block icon-left ion-plus-round">Create new task</a>
            </div>
          </ion-scroll>
        </ion-slide>
      </ion-slide>
    </tab-slide-box>
  </ion-content>
</ion-view>