<ion-modal-view>
  <ion-header-bar align-title="center">
    <h1 class="title">New Perk</h1>
    <div class="buttons">
      <a class="button button-icon icon ion-close-circled" ng-click="eventDetail.closeModalPerk()"></a>
    </div>
  </ion-header-bar>
	<ion-content>
	  <form ng-submit="eventDetail.submitPerk()" name="FormSponsor" novalidate class="padding">
      <ion-list>
        <label class="item item-input item-floating-label">
          <span class="input-label">Type of Sponzor:</span>
          <input type="text" placeholder="Type of Sponzor" ng-model="eventDetail.newPerk.kind" required>
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">Quantity:</span>
          <input type="number" placeholder="Quantity" ng-model="eventDetail.newPerk.total_quantity" required>
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">Price:</span>
          <input type="number" placeholder="Price" ng-model="eventDetail.newPerk.usd" required>
        </label>
      </ion-list>
      <div class="row">
        <div class="col col-50" ng-show="!eventDetail.isNewPerk">
          <button class="button button-block button-assertive" type="button" ng-click="eventDetail.deletePerk()">Delete</button>
        </div>
        <div class="col col-50" ng-class="{'col-offset-25': eventDetail.isNewPerk}">
          <button class="button button-block button-calm" type="submit" ng-disabled="FormSponsor.$invalid">Save</button>
        </div>
      </div>
    </form>
	</ion-content>
</ion-modal-view>