<ion-view view-title="Forgot Password" hide-nav-bar="true" left-buttons="leftButtons" right-buttons="rightButtons" hide-back-button="true">
  <ion-content padding="true" class="positive-bg">
    <form name="forgotForm" novalidate ng-submit="forgotForm.$valid && resetPass(user)">
   <div class="list" style="padding-top:80%;">
     <label class="item item-input item-floating-label inputwhite" ng-class="{ 'has-error' : forgotForm.txtemail.$invalid && forgotForm.$submitted }">
       <span class="input-label">{{"FORGOTFORM.email_field" | translate}}</span>
       <input name="txtemail" type="email" placeholder='{{"FORGOTFORM.email_field" | translate}}' ng-model="user.email"
       ng-minlength="5"
       ng-maxlength="30"
       required>
     </label>
      <div class="form-errors" ng-messages="forgotForm.txtemail.$error" ng-if="forgotForm.$submitted">
        <div class="form-error" ng-message="required">{{"ERRORS.forgotform_ema_required" | translate}}</div>
        <div class="form-error" ng-message="email">{{"ERRORS.forgotform_ema_email" | translate}}</div>
        <div class="form-error" ng-message="maxlength">{{"ERRORS.forgotform_ema_maxlength" | translate}}</div>
        <div class="form-error" ng-message="minlength">{{"ERRORS.forgotform_ema_minlength" | translate}}</div>
      </div>
      <div class="">
        <button type="submit" class="button button-block button-positive">
          {{"FORGOTFORM.button_message" | translate}}
        </button>
      </div>
      <div class="bar-footer">
      <p class="text-center">
        <a style="color:white;" class="button button-clear" href="#/sign-in"><i class="icon ion-home"></i>&nbsp;Sign-in</a>
      </p>
    </div>
    </div>

  </ion-content>
</ion-view>
