<ion-view view-title="Forgot Password" hide-nav-bar="true" left-buttons="leftButtons" right-buttons="rightButtons" hide-back-button="true" class="signup-background2">
  <ion-content padding="true">
   <div class="list" style="padding-top:80%;">
      <label class="item item-input">
        <input placeholder="Email" type="email">
      </label>
      <div class="">
        <button type="submit" class="button button-block button-positive">
          Send Me Instructions
        </button>

      </div>
      <div class="bar-footer">
      <p class="text-center">
        <a style="color:white;" class="button button-clear" href="#/sign-in"><i class="icon ion-home"></i>&nbsp;Sign-in</a>
      </p>
    </div>
    </div>

  </ion-content>
</ion-view>
