<ion-view view-title="Forgot Password" hide-nav-bar="true" left-buttons="leftButtons" right-buttons="rightButtons" hide-back-button="true">
  <ion-content padding="true" class="positive-bg">
    <form name="forgotForm" novalidate ng-submit="forgotForm.$valid && resetPass(user)">
      <div class="list text-center" style="padding-top:40%">
          <i class="icon ion-arrow-swap light" style="font-size: 90px;"></i>
      </div>
   <div style="padding-top:20%">
     <label class="item item-input item-floating-label inputwhite" ng-class="{ 'has-error' : forgotForm.txtemail.$invalid && forgotForm.$submitted }">
       <span class="input-label">{{"FORGOTFORM.email_field" | translate}}</span>
       <input name="txtemail" type="email" placeholder='{{"FORGOTFORM.email_field" | translate}}' ng-model="user.email"
       ng-minlength="5"
       ng-maxlength="30"
       required>
     </label>
      <div class="form-errors" ng-messages="forgotForm.txtemail.$error" ng-if="forgotForm.$submitted">
        <div class="form-error" ng-message="required"><i class="icon ion-close-circled"></i> {{"ERRORS.forgotform_ema_required" | translate}}</div>
        <div class="form-error" ng-message="email"><i class="icon ion-close-circled"></i> {{"ERRORS.forgotform_ema_email" | translate}}</div>
        <div class="form-error" ng-message="maxlength"><i class="icon ion-close-circled"></i> {{"ERRORS.forgotform_ema_maxlength" | translate}}</div>
        <div class="form-error" ng-message="minlength"><i class="icon ion-close-circled"></i> {{"ERRORS.forgotform_ema_minlength" | translate}}</div>
      </div>
      <div class="">
        <button type="submit" class="button button-block button-calm">
          {{"FORGOTFORM.button_message" | translate}}
        </button>
      </div>
    </div>
  </ion-content>
  <ion-footer-bar class="bar bar-positive">
      <div class="title"><a style="color:white;" class="button button-clear" href="#/sign-in"><i class="icon ion-home"></i>&nbsp;Sign-in</a></div>
  </ion-footer-bar>
</ion-view>
