<ion-view view-title='{{"INVITEUSERS.invite_title" | translate}}'>
  <ion-nav-bar class="bar-positive">
    <ion-nav-back-button>
    </ion-nav-back-button>

    <ion-nav-buttons side="left">
      <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>
      <ion-content padding="true" ng-init="init()">
        <form name="inviteForm" novalidate ng-submit="inviteForm.$valid && invitefriend(user)">
        <div class="has-header list">

          <div class="card">
              <div class="item item-divider">{{'INVITEUSERS.info_title' | translate}}
              </div>


        <div class="item item-text-wrap">

          <label class="item item-input item-floating-label inputwhite" ng-class="{ 'has-error' : forgotForm.txtemail.$invalid && forgotForm.$submitted }">
            <span class="input-label">{{"INVITEUSERS.email_field" | translate}}</span>
            <input name="txtemail" type="email" placeholder='{{"INVITEUSERS.email_field" | translate}}' ng-model="user.email"
            ng-minlength="5"
            ng-maxlength="30"
            required>
          </label>
          <div class="form-errors" ng-messages="inviteForm.txtemail.$error" ng-if="inviteForm.$invalid && inviteForm.$submitted">
            <div class="form-error" ng-message="required"><i class="icon ion-close-circled"></i> {{"ERRORS.inviteform_ema_required" | translate}}</div>
            <div class="form-error" ng-message="email"><i class="icon ion-close-circled"></i> {{"ERRORS.inviteform_ema_email" | translate}}</div>
            <div class="form-error" ng-message="maxlength"><i class="icon ion-close-circled"></i> {{"ERRORS.inviteform_ema_maxlength" | translate}}</div>
            <div class="form-error" ng-message="minlength"><i class="icon ion-close-circled"></i> {{"ERRORS.inviteform_ema_minlength" | translate}}</div>
          </div>
          <button type="submit" class="button button-block button-positive">
            {{"INVITEUSERS.button_message" | translate}}
          </button>
        </div>
      </div>
    </div>

      </form>
    </ion-content>
</ion-view>
