<ion-view view-title="Home" hide-nav-bar="true" left-buttons="leftButtons" right-buttons="rightButtons" hide-back-button="true" class="signup-background2">
  <ion-content >
    <div class="list" style="padding-top:80%;">
      <label class="item item-input">
        <input placeholder="Email" type="email">
      </label>
      <label class="item item-input">
        <input type="password" placeholder="Password" ng-model="user.password">
      </label>
      <label class="item item-input">
        <input type="password" placeholder="Confirm Password" ng-model="user.password">
      </label>
    </div>
    <div class="">
      <button class="button button-block button-positive" ng-click="signIn(user)">
        Join now
      </button>
      <p class="text-center" style="color:white;">
        <a style="color:white;" href="#/sign-in">Sign in</a>
      </p>
    </div>
  </ion-content>
</ion-view>
