<ion-view view-title="Home" hide-nav-bar="true" left-buttons="leftButtons" right-buttons="rightButtons" hide-back-button="true">
  <ion-content ng-controller="registerController" class="joinnow">
    <form name="registerForm3" class="padding">
    <div class="list">
      Are you interested in ?
    </div>
<ul class="list">
    <li class="item item-toggle">
     Outdoor
     <label class="toggle toggle-assertive">
       <input type="checkbox">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
  </li>
  <li class="item item-toggle">
   Art & Culture
   <label class="toggle toggle-assertive">
     <input type="checkbox">
     <div class="track">
       <div class="handle"></div>
     </div>
   </label>
</li>
<li class="item item-toggle">
 Dancing
 <label class="toggle toggle-assertive">
   <input type="checkbox">
   <div class="track">
     <div class="handle"></div>
   </div>
 </label>
</li>
<li class="item item-toggle">
 Wellness
 <label class="toggle toggle-assertive">
   <input type="checkbox">
   <div class="track">
     <div class="handle"></div>
   </div>
 </label>
</li>
<li class="item item-toggle">
 Career & Business
 <label class="toggle toggle-assertive">
   <input type="checkbox">
   <div class="track">
     <div class="handle"></div>
   </div>
 </label>
</li>
<li class="item item-toggle">
 Eat & Foods
 <label class="toggle toggle-assertive">
   <input type="checkbox">
   <div class="track">
     <div class="handle"></div>
   </div>
 </label>
</li>
<li class="item item-toggle">
 Belief
 <label class="toggle toggle-assertive">
   <input type="checkbox">
   <div class="track">
     <div class="handle"></div>
   </div>
 </label>
</li>
<li class="item item-toggle">
 Sports & Fitness
 <label class="toggle toggle-assertive">
   <input type="checkbox">
   <div class="track">
     <div class="handle"></div>
   </div>
 </label>
</li>
<li class="item item-toggle">
 Books
 <label class="toggle toggle-assertive">
   <input type="checkbox">
   <div class="track">
     <div class="handle"></div>
   </div>
 </label>
</li>
<li class="item item-toggle">
 Education
 <label class="toggle toggle-assertive">
   <input type="checkbox">
   <div class="track">
     <div class="handle"></div>
   </div>
 </label>
</li>
<li class="item item-toggle">
 Photography
 <label class="toggle toggle-assertive">
   <input type="checkbox">
   <div class="track">
     <div class="handle"></div>
   </div>
 </label>
</li>
<li class="item item-toggle">
 Languages
 <label class="toggle toggle-assertive">
   <input type="checkbox">
   <div class="track">
     <div class="handle"></div>
   </div>
 </label>
</li>
<li class="item item-toggle">
 Music
 <label class="toggle toggle-assertive">
   <input type="checkbox">
   <div class="track">
     <div class="handle"></div>
   </div>
 </label>
</li>

<li class="item item-toggle">
 Technology
 <label class="toggle toggle-assertive">
   <input type="checkbox">
   <div class="track">
     <div class="handle"></div>
   </div>
 </label>
</li>


</ul>

        <button type="submit" class="button button-block button-dark">
          {{"JOINNOW.button_message" | translate}}
        </button>
      <div class="bar-footer">
      <p class="text-center">
        <a style="color:white;" class="button button-clear" href="#/sign-in"><i class="icon ion-home"></i>&nbsp;Sign-in</a>
      </p>
      </div>
  </form>

  </ion-content>
</ion-view>
