<ion-view view-title="Home" hide-nav-bar="true" left-buttons="leftButtons" right-buttons="rightButtons" hide-back-button="true">
  <ion-content ng-controller="registerController" class="joinnow">
    <form name="registerForm2">
    <div class="list" style="padding-top:40%;">
      Tell us about yourself...
    </div>

    <label class="item item-input">
       <span class="input-label">I am</span>
       <input type="text" placeholder="20">
       <span class="input-label">years</span>
     </label>

     <label class="item item-input item-select">
    <div class="input-label">
      Gender
    </div>
    <select>
      <option selected>Male</option>
      <option>Female</option>
    </select>
  </label>

  <label class="item item-input item-select">
 <div class="input-label">
   My preferred language
 </div>
 <select>
   <option selected>English</option>
   <option>Spanish</option>
   <option>Portuguese</option>
 </select>
</label>
<label class="item item-input">
   <span class="input-label">My location is: </span>
   <input type="text" placeholder="San Francisco, California">
 </label>

        <button type="submit" class="button button-block button-dark">
          {{"JOINNOW.button_message" | translate}}
        </button>
      <div class="bar-footer">
      <p class="text-center">
        <a style="color:white;" class="button button-clear" href="#/sign-in"><i class="icon ion-home"></i>&nbsp;Sign-in</a>
      </p>
      </div>
  </form>

  </ion-content>
</ion-view>
