<ion-view view-title="{{'DASHSPONZORS.dash_menu4' | translate}}">
      <ion-content class="padding">
        <div class="list">
          <label class="item item-input">
            <input type="text" placeholder="Full Name">
          </label>
          <label class="item item-input">
            <input type="text" placeholder="E-Mail">
          </label>
          <label class="item item-input">
            <input type="text" placeholder="Company">
          </label>
          <label class="item item-input">
            <input type="text" placeholder="Age">
          </label>
          <label class="item item-input item-select">
          <div class="input-label">
            Sex
          </div>
          <select>
            <option selected>Gender:</option>
            <option >Male</option>
            <option>Female</option>
          </select>
        </label>
        <label class="item item-input">
          <input type="text" placeholder="Location">
        </label>
        <label class="item item-input">
          <textarea placeholder="Description"></textarea>
        </label>
        <div class="item">
        <button class="button button-small button-positive">
          Upload
        </button>
      </div>
        <button class="button button-block button-positive">
          Submit
        </button>

        </div>
    </ion-content>
</ion-view>
