<ion-view>
	<ion-nav-title>{{ detail.sponsorship.event.title }}</ion-nav-title>
  <ion-nav-buttons side="right">
    <button ng-show="detail.indexSlide == 1" class="button button-icon button-clear ion-plus-round"
    ng-click="detail.newTask()"></button>
  </ion-nav-buttons>
  <ion-content scroll="false">
     <tab-slide-box tab="0">
      <div class="tsb-icons">
        <div class="tsb-ic-wrp">
          <ion-scroll direction="x" class="tsb-hscroll">
            <a>{{"SPONSORSHIPDETAIL.tasks" | translate}}</a>
            <a>{{"SPONSORSHIPDETAIL.tasks_sponsor" | translate}}</a>
            <a>{{"SPONSORSHIPDETAIL.detail" | translate}}</a>
          </ion-scroll>
        </div>
      </div>
      <ion-slide-box show-pager="false" on-slide-changed="slideHasChanged($index) && detail.slideChange($index)">
        <ion-slide>
          <ion-scroll style="height:90%">
            <ion-list type="card">
              <ion-item class="item-button-right">
                {{ detail.sponsorship.perk.kind }} - ${{ detail.sponsorship.perk.usd }}
              </ion-item>
              <ion-item ng-show="detail.sponsorship.perk.tasks.length == 0">
                {{"SPONSORSHIPDETAIL.list_empty" | translate}}
              </ion-item>
              <ion-item class="item-icon-left" ng-repeat="task in detail.sponsorship.perk.tasks | filter: {type:0}" ng-class="{done: task.status == 1}">
                <i class="icon ion-checkmark"></i>
                <h2> {{ task.title }} </h2>
                <p> {{ task.description }} </p>
              </ion-item>
            </ion-list>
          </ion-scroll>
        </ion-slide>
        <ion-slide>
          <ion-scroll style="height:90%">
            <div class="row text-center" ng-show="detail.sponsorship.task_sponzor.length == 0">
              <div class="col">
                <div class="empty-states">
                  <i class="icon ion-android-checkmark-circle"></i>
                  <h1>{{"SPONSORSHIPDETAIL.list_empty" | translate}}</h1>
                </div>
              </div>
            </div>
            <ion-list type="card" ng-show="detail.sponsorship.task_sponzor.length > 0">
              <ion-item class="item-button-right">
                {{ detail.sponsorship.perk.kind }} - ${{ detail.sponsorship.perk.usd }}
              </ion-item>
              <ion-item ng-show="detail.sponsorship.task_sponzor.length == 0">
                {{'detail.list_perk_task_empty' | translate}}
              </ion-item>
              <ion-item class="item-icon-left" ng-repeat="taskSponsor in detail.sponsorship.task_sponzor" ng-class="{done: taskSponsor.status == 1}" ng-click="detail.editTask( taskSponsor )">
                <i class="icon ion-checkmark"></i>
                <h2> {{ taskSponsor.task.title }}</h2>
                <p> {{ taskSponsor.task.description }} </p>
              </ion-item>
            </ion-list>
          </ion-scroll>
        </ion-slide>
        <ion-slide>
          <ion-scroll style="height:90%" >
            <ion-list type="card">
              <ion-item class="item-body">
                <strong>{{ detail.sponsorship.event.title }}</strong>
              </ion-item>
              <ion-item class="item-divider">{{"SPONSORSHIPDETAIL.start_date_divider" | translate}}</ion-item>
              <ion-item class="item-icon-left">
                <i class="icon ion-clock"></i>
                 {{ detail.sponsorship.event.starts | date: 'MMMM d, y - HH:mm:ss' }}
              </ion-item>
              <ion-item class="item-divider">{{"SPONSORSHIPDETAIL.end_date_divider" | translate}}</ion-item>
              <ion-item class="item-icon-left">
                <i class="icon ion-clock"></i>
                {{ detail.sponsorship.event.ends | date: 'MMMM d, y - HH:mm:ss' }}
              </ion-item>
              <ion-item class="item-body">
                <img ng-src="{{ detail.event.image }}" class="full-image">
                {{ detail.sponsorship.event.description }}
              </ion-item>
              <ion-item class="item-divider">
                {{"SPONSORSHIPDETAIL.organizer_divider" | translate}}
              </ion-item>
              <ion-item class="item-avatar">
                <img ng-src="{{ detail.sponsorship.organizer.image }}">
                <h2>{{ detail.sponsorship.organizer.name }}</h2>
                <p>{{ detail.sponsorship.organizer.company }}</p>
              </ion-item>
            </ion-list> 
          </ion-scroll>
        </ion-slide>
      </ion-slide>
    </tab-slide-box>
  </ion-content>
</ion-view>