<ion-modal-view>
  <ion-header-bar class="bar-positive" align-title="center">
    <h1 class="title">{{"EVENTDETAIL.sponsor_it_title" | translate}}</h1>
    <div class="buttons">
      <a class="button button-icon icon ion-close-circled" ng-click="eventDetail.closeModalSponsorIt()"></a>
    </div>
  </ion-header-bar>
	<ion-content>
	  <form ng-submit="eventDetail.submitSponsorIt()" name="FormSponsorIt" novalidate class="padding">
      <ion-list>
        <ion-item>
          {{ eventDetail.newSponsorIt.perk.kind }} - ${{ eventDetail.newSponsorIt.perk.usd }}
        </ion-item>
        <label class="item item-input item-floating-label">
          <span class="input-label">{{"EVENTDETAIL.cause_label" | translate}}:</span>
          <textarea 
          placeholder="{{'EVENTDETAIL.cause_placeholder' | translate}}" 
          ng-model="eventDetail.newSponsorIt.cause" 
          required></textarea>
        </label>
      </ion-list>
      <div class="row">
        <div class="col">
          <button class="button button-block button-raised" type="button" ng-click="eventDetail.closeModalSponsorIt()">{{"EVENTDETAIL.cancel" | translate}}</button>
        </div>
        <div class="col">
          <button class="button button-block button-positive button-raised" type="submit" ng-disabled="FormSponsorIt.$invalid">{{"EVENTDETAIL.sponsor_it_button" | translate}}</button>
        </div>
      </div>
    </form>
	</ion-content>
</ion-modal-view>