.fade {
  -webkit-transition: 0.2s opacity linear;
  transition: 0.2s opacity linear;
  opacity: 0;
}

.inputwhite {
  background-color: white !important;
}

#profile-image{
        display: block;
        border-radius: 100px;
        border: 1px solid #fff;
        width: 128px;
        height: 128px;
        margin: 0px auto 0;
        box-shadow: 0px 0px 4px rgba(0,0,0,0.7);
      }

/** Styling for the error text and container **/
.form, .form_success, .form_warning, .form_error {
margin: 10px 0px;
padding:12px;
}
.form_info {
    color: #00529B;
    background-color: #BDE5F8;
}
.form_success {
    color: #4F8A10;
    background-color: #DFF2BF;
}
.form_warning {
    color: #9F6000;
    background-color: #FEEFB3;
}
.form_error {
    color: #D8000C;
    background-color: #FFBABA;
}

.form-errors {
  margin: 10px 0;
  padding:12px;
  background: #FFBABA;
}

.form_info i, .form_success i, .form_warning i, .form_error i {
    margin:10px 22px;
    font-size:2em;
    vertical-align:middle;
}


/**
fixing ion-footer
**/

.scroll {
  height: 100%;
}

.scroll-content{
  top: 0 !important;
  bottom: 0 !important;
}

.bar.bar-positive{
  background-color: #191c29 !important;
  border: none !important;
  text-align: center !important;
}

/*** Sliding Background **/

.cb-slideshow,
.cb-slideshow:after {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 0;
}
.cb-slideshow:after {
    content: '';
    background: transparent url(../img/pattern.png) repeat top left;
}
