.pane{

  background-color: #fff;
}

.fade {
  -webkit-transition: 0.2s opacity linear;
  transition: 0.2s opacity linear;
  opacity: 0;
}

.signup-background .scroll-content{
    background-image: url('../img/bgd5@2x.png');
    background-position: top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

.signup-background2 .scroll-content{
    background-image: url('../img/bgd2@2x.png');
    background-position: top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}
